<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {{index}}" href="{{url_for('index')}}">
                    <i class="fa fa-bars" aria-hidden="true"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{cadastro}}" href="{{url_for('cadastrar')}}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Cadastrar
                </a>
            </li>
        </ul>
    </div>
</nav>
<br/>