<div class="container-fluid row justify-content-center">
    {% if paginator.num_pages > 1 %}
        <ul class="pagination">
            {% if page-1 > 0 %}
                {% if page <= paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page-1 }}">&laquo;</a>
                    </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.num_pages-1 }}">&laquo;</a>
                </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for i in itens.paginator.page_range %}
                {% if itens.number == i %}
                    <li class="active page-item">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page+1 <= paginator.num_pages and page > 0 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page+1 }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>