<div class="container-fluid row justify-content-center">
    {% if itens.has_other_pages %}
        <ul class="pagination">
            {% if itens.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{itens.previous_page_number}}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="disabled">&laquo;</span>
                </li>
            {% endif %}

            {% for i in itens.paginator.page_range %}
                {% if itens.number == i %}
                    <li class="active page-item">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if itens.has_next %}
                <li class="page-item">
                    <a class="page-link" disabled href="?page={{itens.next_page_number}}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="disabled">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>